.icon-button {
  font-size: 1.4em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  padding: 0;
  height: 2.5em;

  &:hover {
    color: white;
    transform: scale(1.05);
  }
}
