.plate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 4em);
  height: 10em;
  color: white;
  font-weight: 700;
  padding: 2em;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.15s linear;

  .icon-inner {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    svg {
      width: 4em;
      height: 4em;
    }
  }

  &:hover {
    transform: scale(1.01);
  }
}

@media screen and (min-width: 1000px) {
  .plate {
    height: -webkit-fill-available;
  }
}
